
header
{
border: 2px black solid;
height: 840px;
width: 20%;
display: flexbox;
position: fixed;
background-color:white ;
border-radius: 20px; 
font-size: 15pt;



}footer {

    border: 2px black solid;
    height: 10px;
    width: 100%;
    display: flex;
    position: sticky;
    background-color:  white;
    border-radius: 5px;
    margin: 600px 0px 0px 0px;
    box-shadow: 50% black ;
    text-shadow: 5px 5px 21px #EE82EE;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;

    
}

.divog
{
    position:static;
    border: 3px black solid;
margin:25px 0px 0px 0p
}

.sidebar {

    position: fixed;
    width: 1px;
    height: 1%;
    background-color:white;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.headerprinc
{
    position: fixed;
    left: 0;
    width: 180px;
    height: 100%;
    background-color: black; 

}