
header
{
border: 3px black solid;
height: 45px;
width: 98%;
display: flex;
position: fixed;
background-color:white;
-webkit-box-shadow: 1px 1px 34px #EE82EE;
-moz-box-shadow: 1px 1px 34px #EE82EE;
box-shadow: 1px 1px 34px #EE82EE;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
border-radius: 12px;
text-shadow: 5px 5px 21px #f72710;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;



}

nav
{
    border: 3px black solid ;
    height: 25px;
    width: 50%;
    display: flex;
    position: fixed;
    margin: 40px 0px 0px 0px;
    background-color: white ;
    -webkit-box-shadow: 1px 1px 34px #EE82EE;
    -moz-box-shadow: 1px 1px 34px #EE82EE;
    box-shadow: 1px 1px 34px #EE82EE;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
    border-radius: 12px;

}

footer {

    border: 3px black solid;
    height: 45px;
    width: 98%;
    display: flex;
    position: sticky;
    background-color:white;
    border-radius: 5px;
    margin: 240px 0px 0px 0px;
    box-shadow: 50% black ;
    text-shadow: 5px 5px 21px #EE82EE;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;

    
}

.divog
{
    
.sidebar {
    background: #333; 
    color: white;
    text-align: center;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    transition: transform 0.3s;
}

li:hover {
    transform: translateX(10px); 
}

}

.sidebar {

    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: pink;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.headerprinc
{
    position: fixed;
    left: 0;
    width: 180px;
    height: 100%;
    background-color: pink; 

}

.sidebar header{
    font-size: 22px;
    color: black;
    text-align: center;
    line-height: 70px;
    background: palegoldenrod;
}